@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:100,200,300,400,600,700,800,900|Open+Sans:400,700|Poppins:400,500');
@import url("../css/bootstrap.min.css");

h1, h2, h3, h4, h5, h6 {
    color: #212121;
    margin: 20px 0 10px 0;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.2em;
}

h1 { font-size: 48px;}
h2 { font-size: 35px;}
h3 { font-size: 25px;}
h4 { font-size: 18px;}
h5 { font-size: 16px;}
h6 { font-size: 12px;}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { color: #fff;}



.icon-tabs .nav-tabs>li.active>a,
.icon-tabs .nav-tabs>li.active>a:focus,
.icon-tabs .nav-tabs>li.active>a:hover {
    border: 0;
    color: #1de9b6;
    position: relative;
	background:transparent;
}

.icon-tabs .nav-tabs>li>a i {
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
}

.tabs-style-03 .icon-tabs .nav-tabs {border-top: 0px solid #f1f1f1;border-bottom: 0;margin-bottom: 25px;}
.tabs-style-03 .icon-tabs .nav-tabs>li {display: inline-block;width: 100%;float: left;margin-bottom: 15px;text-align: left;}
.tabs-style-03 .icon-tabs p {margin-top: 5px;font-size: 14px;}
.tabs-style-03 .icon-tabs .nav-tabs>li>a {margin-right: 0;font-size: 14px;line-height: 25px;color: #8D3FD0;padding: 10px 25px;border: 2px solid #ececec;border-radius: 10px;}
.tabs-style-03 .icon-tabs .nav>li>a:focus, .tabs-style-01 .icon-tabs .nav>li>a:hover {background-color: transparent;}
.tabs-style-03 .icon-tabs .nav-tabs>li.active>a, .tabs-style-03 .icon-tabs .nav-tabs>li.active>a:focus, .tabs-style-03 .icon-tabs .nav-tabs>li.active>a:hover {color: #8D3FD0;position: relative;border: 2px solid #8D3FD0;}
.tabs-style-03 .icon-tabs .nav-tabs>li>a i {display: block;font-size: 30px;margin-bottom: 10px;}

/* ----------------------------------------
	Accordion Color
-------------------------------------------*/

.accordion-color .panel {
    box-shadow: none;
    border:0;
    border-radius: 0;
    margin-bottom: 10px;
    background-color: transparent;
}
.accordion-color .panel-default>.panel-heading h3{

font-size: 14px;
}
.accordion-color .panel .panel-heading {
    position: relative;
    padding: 0;
    border-bottom: 0px solid #fff;
}
.accordion-color .panel-title a.collapsed{
    display: block;
    color: #8D3FD0;
    background-color: transparent;
    border-color: #f1f1f1;
    padding: 13px 15px 13px 15px;
    border-radius: 10px;
    border: 2px solid #8D3FD0;
}
.accordion-color .panel-title a{
    display: block;
    color: #8D3FD0;
    border: 2px solid #8D3FD0;
    padding: 13px 15px 13px 15px;
    background-color: transparent;
    text-align: left;
    border-radius: 10px 10px 0 0;
}
.accordion-color .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: 2px solid #8D3FD0;
    background-color: transparent;
    text-align: left;
    border-top: 0;
    border-radius: 0 0 10px 10px;
}
.accordion-color .panel .panel-heading a:after {
    font-family: 'Material Design Icons';
    content: "\f415";
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 52px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}
.accordion-color .panel .panel-heading a.collapsed:after {
    content: "\f374";
}

.accordion-color .panel-default>.panel-heading+.panel-collapse>.panel-body h3 {
    font-size: 16px;
    font-weight: 600;
}



